html,
body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Opens Sans', Roboto, Helvetica, Arial, 'Lora', sans-serif;
    font-weight: 400;
    font-size: 1.25em;
    color: rgba(42, 42, 42, .94) !important;
    background-color: #F7F7F7
}

body {
    font-size: 16pt;
}

.error {
    font-family: 'Opens Sans', Roboto, Helvetica, Arial, 'Lora', sans-serif;
    font-weight: 700;
    font-size: 20pt;
}

header {
    width: 100%;
    padding-top: 20pt;
    padding-bottom: 8pt;
    text-align: center;
    font-size: 20pt;
    font-weight: 700;
}

header div {
    display: inline-block;
}

header .ref-btn {
    float: left;
    margin-left: 3.5%;
}

header .ref-btn a {
    text-decoration: none;
    color: inherit;
    transition: all .4s;
}

header .ref-btn a:hover,
header .ref-btn a:active {
    text-decoration: none;
    color: #FFC107;
}

.post {
    width: 65%;
    margin: 0 auto;
    font-family: 'Lora', Georgia, sans-serif, serif;
}

.post-title {
    font-size: 30pt;
    font-weight: 700;
}

.post-body {
    font-size: 14pt;
    margin-bottom: 6px;
}

.post-body a {
    text-decoration: none;
    color: #FFC107;
    transition: all .4s;
}

.post-body a:active,
.post-body a:hover {
    text-decoration: none;
    color: #FFA000;
}

.post-body a:visited {
    text-decoration: none;
}

.post-body p {
    text-indent: 12pt;
    padding-left: 3%;
    padding-right: 3%;
}

.post-body strong {
    font-weight: 700;
}

.post-body em {}

.post-body img {}

.post-body code {
    font-family: Hack, monospace;
    background-color: rgba(224, 224, 224, .9);
    padding: 2pt;
    border-radius: 2px;
    font-size: 11pt;
}

.post-body pre {
    border-radius: 2px;
    overflow-x: scroll;
    width: 100%;
    background-color: rgba(224, 224, 224, .8);
    padding: 20pt;
    margin-left: -10pt;
    font-weight: 600;
}

.post-body pre code {
    background-color: transparent;
    font-size: 10pt;
}

.tags {
    text-align: center;
    margin-bottom: 5px;
    font-family: 'Opens Sans', Roboto, Helvetica, Arial, 'Lora', sans-serif;
}

.tags a {
    text-decoration: none;
    color: inherit;
    font-size: 12pt;
    padding: 5px;
    border-style: solid;
    border-width: 3px;
    border-radius: 2px;
    border-color: rgba(66, 66, 66, .8);
    text-align: center;
    min-width: 100px;
    margin: 15px;
    display: inline-block;
    transition: all .4s;
    opacity: .85;
}

.tags a:hover,
.tags a:active {
    border-color: #FFC107;
    color: #FFC107;
}

.tags a:visited {
    text-decoration: none;
}

footer {
    font-size: 10pt;
    text-align: center;
    padding: 2%;
}

@media screen and (max-width: 750px) {
    header {
        width: 100%;
        font-size: 32pt;
        margin: 0;
        margin-bottom: -5%;
        padding: 0;
        padding-bottom: -5%;
        text-align: center;
    }
    header .ref-btn {
        float: inherit;
        margin: 0;
        padding: 0;
        padding-top: 3%;
    }
    .post {
        width: 85%;
        padding-top: 0;
        margin-top: 0;
    }
    .post-body p {
        padding-left: 2%;
        padding-right: 2%;
    }
    .post-body pre {
        width: 98%;
        padding: 6%;
    }
}