html,
body {
    width: 100%;
    /*    height: 200%;*/
    background-color: #F7F7F7;
    font-family: 'Open Sans', Roboto, Helvetica, Arial, sans-serif;
    font-size: 1.25em;
    font-weight: 400;
    color: rgba(42, 42, 42, .94) !important;
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    margin: 0;
    padding: 0;
}

a {
    transition: color .4s;
}

header {
    width: 96%;
    padding: 2%;
    padding-top: 10%;
    text-align: center;
}

header #name {
    font-family: 'Montserrat', 'Open Sans', Roboto, Helvetica, Arial, sans-serif;
    font-weight: 800;
    font-size: 60pt;
}

nav {
    padding: 1%;
    margin-top: 1.5%;
}

nav a {
    color: inherit;
    font-size: 30pt;
    margin: 6pt;
    padding: 4pt;
}

nav a:hover,
nav a:active {
    color: #FFC107;
}

#content {
    width: 60%;
    padding: 4%;
    padding-top: 2%;
    margin: 0 auto;
}

@keyframes postFadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.post {
    display: block;
    margin-top: 6%;
    margin-bottom: 6%;
    text-decoration: none;
    color: rgba(42, 42, 42, .94);
    animation: postFadeIn .45s 1 linear;
}

.post:hover,
.post:active {
    color: inherit !important;
}

.post:hover .post-title,
.post:active .post-title {
    color: #FFC107 !important;
}

.post:visited .post-title {
    color: rgba(42, 42, 42, .94);
}

.post-title {
    font-weight: 700;
    font-size: 18pt;
    transition: color .4s;
}

.post-date {
    float: right;
    font-size: 11pt;
    margin-top: 7pt;
    color: rgba(36, 36, 36, .75);
}

.post-hint {
    width: 100%;
    font-size: 13pt;
    padding-top: 1%;
    padding-left: 2%;
    color: rgba(54, 54, 54, .75);
}

.content-loader {
    display: block;
    text-decoration: none;
    color: inherit;
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 20pt;
    /*    animation: contentLoaderSpinAnimation 1.45s infinite;*/
    animation-duration: 1.45s;
    animation-iteration-count: infinite;
}

@keyframes contentLoaderSpinAnimation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.content-loader:hover,
.content-loader:active {
    color: #FFC107 !important;
}

@media screen and (max-width: 700px) {
    #content {
        width: 86%;
    }
    .post {
        margin-top: 10%;
        margin-bottom: 10%;
    }
}