<link href="/post.css" rel="stylesheet">
<link href="//cdn.jsdelivr.net/font-hack/2.015/css/hack.min.css" rel="stylesheet" >
<link href="/highlight-colors/foundation.css" rel="stylesheet">

<header>
    <div class="ref-btn" id="ref-btn"><a href="/"><span class="fa fa-home"></span></a></div>
</header>

<div class="post" id="post">
    <div class="post-body">
        {{#if error }}
            <div class="error">
                {{error.code}} :: {{error.body}}
                <div>Please reload the webpage, or checkback later</div>
            </div>
        {{else}}
            {{{content}}}
        {{/if}}
    </div>
</div>

<footer>
    <a href="/" class="fa fa-copyright">Samuel Steele</a>
</footer>
